<%- include('../partials/users/header.ejs') %>


	<!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<h3> Enter new password</h3>
						<form class="row login_form" action="" method="post" id="register_form">

							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="" name="password"
									placeholder="Enter Password" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Enter password'">
							</div>

							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="" name="confirmedPassword"
									placeholder="Confirm password" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Confirm password'">
							</div>

							<input type="hidden" name="user_id" value="<%= user_id%>">


							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-register w-100">Reset
									password</button>
							</div>
						</form>
						<% if(typeof message !=='undefined' ){ %>
							<h4>
							  <%= message %>
							</h4>
							<% } %>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<h1></h1>
	<h1></h1>
	<h1></h1>
	<div></div>
	<div>.</div>

	</body>

	</html>